---
import Layout from '../layout/Layout.astro'

const staff = [
	{
		id: 1,
		image: '/blackwing-astro/images/empleado1.webp',
		altImage: 'Foto del empleado 1',
		name: 'Nombre del empleado 1',
		position: 'Cargo del empleado 1',
	},
	{
		id: 2,
		image: '/blackwing-astro/images/empleado2.webp',
		altImage: 'Foto del empleado 2',
		name: 'Nombre del empleado 2',
		position: 'Cargo del empleado 2',
	},
	{
		id: 3,
		image: '/blackwing-astro/images/empleado3.webp',
		altImage: 'Foto del empleado 3',
		name: 'Nombre del empleado 3',
		position: 'Cargo del empleado 3',
	},
	{
		id: 4,
		image: '/blackwing-astro/images/empleado4.webp',
		altImage: 'Foto del empleado 4',
		name: 'Nombre del empleado 4',
		position: 'Cargo del empleado 4',
	},
]
---

<Layout pageTitle="Nosotros">
	<main class="py-8 px-4 text-bg-mode">
		<section class="py-8 px-0">
			<h2 class="text-3xl font-medium text-center">Sobre nosotros</h2>
			<div class="flex flex-col md:flex-row gap-4 pt-16">
				<article class="w-full md:w-1/2">
					<h3 class="text-xl text-center">Visión</h3>
					<p class="py-4 px-0">
						En Black Wing convertirnos en la empresa de asesoramiento financiero
						líder en el mercado, siendo reconocidos por nuestra innovación,
						experiencia y ética profesional, y siendo la opción preferida de los
						inversores que buscan un enfoque personalizado, integral y
						tecnológicamente avanzado para administrar sus finanzas.
					</p>
				</article>
				<article class="w-full md:w-1/2">
					<h3 class="text-xl text-center">Misión</h3>
					<p class="py-4 px-0">
						Nuestra misión es ofrecer asesoramiento financiero de alta calidad y
						personalizado a nuestros clientes, utilizando las últimas
						tecnologías y herramientas para garantizar que sus inversiones estén
						en línea con sus objetivos a corto y largo plazo.
					</p>
				</article>
			</div>
		</section>

		<section class="py-8 px-0">
			<h2 class="text-3xl font-medium text-center">Nuestro equipo</h2>
			<section class="flex flex-row flex-wrap justify-around gap-4">
				{
					staff.map((employee) => (
						<div class="mt-12 text-center">
							<img
								class="max-w-[200px] block my-0 mx-auto rounded-full"
								src={employee.image}
								alt={employee.altImage}
							/>
							<h3 class="my-2 mx-0">{employee.name}</h3>
							<p class="leading-6">{employee.position}</p>
						</div>
					))
				}
			</section>
		</section>
	</main>
</Layout>
