---
import Layout from '../layout/Layout.astro'
---

<Layout pageTitle="Nosotros">
	<main class="py-8 px-4 text-bg-mode">
		<section class="py-8 px-0">
			<h2 class="text-3xl font-medium text-center">Sobre nosotros</h2>
			<div class="flex flex-col md:flex-row gap-4 pt-16">
				<article class="w-full md:w-1/2">
					<h3 class="text-xl text-center">Visión</h3>
					<p class="py-4 px-0">
						En Black Wing convertirnos en la empresa de asesoramiento financiero
						líder en el mercado, siendo reconocidos por nuestra innovación,
						experiencia y ética profesional, y siendo la opción preferida de los
						inversores que buscan un enfoque personalizado, integral y
						tecnológicamente avanzado para administrar sus finanzas.
					</p>
				</article>
				<article class="w-full md:w-1/2">
					<h3 class="text-xl text-center">Misión</h3>
					<p class="py-4 px-0">
						Nuestra misión es ofrecer asesoramiento financiero de alta calidad y
						personalizado a nuestros clientes, utilizando las últimas
						tecnologías y herramientas para garantizar que sus inversiones estén
						en línea con sus objetivos a corto y largo plazo.
					</p>
				</article>
			</div>
		</section>

		<section class="py-8 px-0">
			<h2 class="text-3xl font-medium text-center">Nuestro equipo</h2>
			<section class="flex flex-row flex-wrap justify-around gap-4">
				<div class="mt-12 text-center">
					<img
						class="max-w-[200px] block my-0 mx-auto rounded-full"
						src="/images/empleado1.webp"
						alt="Foto del empleado 1"
					/>
					<h3 class="my-2 mx-0">Nombre del empleado 1</h3>
					<p class="leading-6">Cargo del empleado 1</p>
				</div>
				<div class="mt-12 text-center">
					<img
						class="max-w-[200px] block my-0 mx-auto rounded-full"
						src="/images/empleado2.webp"
						alt="Foto del empleado 2"
					/>
					<h3 class="my-2 mx-0">Nombre del empleado 2</h3>
					<p class="leading-6">Cargo del empleado 2</p>
				</div>
				<div class="mt-12 text-center">
					<img
						class="max-w-[200px] block my-0 mx-auto rounded-full"
						src="/images/empleado3.webp"
						alt="Foto del empleado 3"
					/>
					<h3 class="my-2 mx-0">Nombre del empleado 3</h3>
					<p class="leading-6">cargo del empleado 3</p>
				</div>
				<div class="mt-12 text-center">
					<img
						class="max-w-[200px] block my-0 mx-auto rounded-full"
						src="/images/empleado4.webp"
						alt="Foto del empleado 4"
					/>
					<h3 class="my-2 mx-0">Nombre del empleado 4</h3>
					<p class="leading-6">Cargo del empleado 4</p>
				</div>
			</section>
		</section>
	</main>
</Layout>
