---
import Layout from '../layout/Layout.astro'

const BACKEND = import.meta.env.BACKEND
const URL = import.meta.env.URL
---

<Layout>
	<section class="contact">
		<div class="contact__container">
			<h2 class="contact__title">Contáctanos</h2>
			<p class="contact__paragraph">
				Déjanos tu consulta y te responderemos a la brevedad.
			</p>
			<main class="content">
				<h3>Nuestras Oficinas</h3>
				<div class="content__info">
					<div class="content__paragraph">
						<img
							class="content__icon"
							src="/blackwing-astro/icons/geo-alt.svg"
							alt="icono geolocalización"
						/>
						<span>Diagonal 74 1520. La Pata, Buenos Aires</span>
					</div>
					<div class="content__paragraph">
						<img
							class="content__icon"
							src="/blackwing-astro/icons/telefono.svg"
							alt="icono teléfono"
						/>
						<span>(0221) 455 9599</span>
					</div>
					<div class="content__paragraph">
						<img
							class="contact__icon pr-3"
							src="/blackwing-astro/icons/envolope.svg"
							alt="icono email"
						/>
						<span>atencion@blackwing.com</span>
					</div>
				</div>
			</main>
			<form class="contact__form" id="contact-form">
				<div>
					<label for="name">Nombre:</label>
					<input type="text" id="name" name="name" required />
				</div>

				<div>
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required />
				</div>

				<div>
					<label for="phone">Teléfono:</label>
					<input type="text" id="phone" name="phone" required />
				</div>
				<div>
					<label for="comment">Mensaje:</label>
					<textarea id="comment" rows="4" name="comment" required></textarea>
				</div>
				<button type="submit">Enviar</button>
			</form>
			<div class="contact__logo">Black Wing</div>
		</div>
	</section>
</Layout>

<style>
	.contact {
		position: relative;
		height: 90vh;
		width: 100%;
	}
	.contact__title {
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: 2s title-text ease-in-out;
	}
	.contact__paragraph {
		color: #262b2f;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: 2s title-text ease-in-out;
	}
	.contact__container {
		padding-top: 1.25rem;
	}
	.contact__container .content {
		padding-bottom: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		animation: 2s main-content ease-in-out;
	}
	.contact__container .content p {
		padding: 0.625rem 0;
	}
	.contact__container .content__info {
		text-align: start;
	}
	.contact__container .content__icon {
		margin-right: 0.625rem;
	}
	.contact__container .content__paragraph {
		color: #fff;
		padding: 0 0.625rem;
		margin-top: 0.625rem;
	}
	.contact__container .content__paragraph img {
		display: inline-block;
	}
	.contact__form {
		background: #fff;
		padding: 1.25rem 3.125rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.contact input,
	.contact textarea {
		padding: 0.25rem;
		width: 100%;
		color: #202020;
		border: 1px solid #202020;
	}
	.contact label {
		color: #202020;
		font-size: 0.75rem;
	}
	.contact button {
		margin-top: 1.875rem;
		padding: 0.25rem;
		background: #262b2f;
		border-radius: 5px;
		color: #fff;
		border: none;
		transition: background-color 300ms ease-out;
	}
	.contact button:hover {
		background: #000;
	}
	.contact__logo {
		background: #262b2f;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		font-weight: 700;
		color: #fff;
		animation: contact-logo 2s ease-in-out;
	}
	.contact__map {
		margin-top: 3.125rem;
		grid-area: map;
		background-color: #fff;
	}
	@media (min-width: 768px) {
		.contact {
			background: linear-gradient(to left, white 55%, #262b2f 55%);
		}
		.contact__container {
			position: absolute;
			z-index: 5;
			display: grid;
			height: 100%;
			width: 100%;
			grid-template-columns: 45% 55%;
			grid-template-rows: 20% 60% 20%;
			grid-template-areas: 'title  text' 'data   form' 'logo   form';
		}
		.contact__title {
			grid-area: title;
		}
		.contact__paragraph {
			grid-area: text;
		}
		.contact .content {
			grid-area: data;
		}
		.contact__form {
			grid-area: form;
		}
		.contact__logo {
			grid-area: logo;
		}
	}

	@keyframes title-text {
		0% {
			transform: translateY(-100px);
		}
		100% {
			transform: translateY(0);
		}
	}
	@keyframes main-content {
		0% {
			transform: translateY(-600px);
		}
		100% {
			transform: translateY(0);
		}
	}
	@keyframes contact-logo {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script define:vars={{ BACKEND, URL }}>
	const contactForm = document.getElementById('contact-form')

	contactForm.addEventListener('submit', async (e) => {
		e.preventDefault()
		const formData = new FormData(e.target)
		const data = Object.fromEntries(formData.entries())
		data.url = URL

		try {
			const response = await fetch(`${BACKEND}/contacts`, {
				method: 'POST',
				body: JSON.stringify(data),
				headers: { 'Content-Type': 'application/json' },
			})

			if (response.ok) {
				Swal.fire(
					'Formulario enviado con éxito. En breve nos pondremos en contacto!'
				)
				e.target.reset()
			} else {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Error enviado el formulario',
					footer: `<p><strong>Inténtalo nuevamente!</strong></p>`,
				})
			}
		} catch (err) {
			Swal.fire({
				icon: 'error',
				title: 'Oops...',
				text: 'Error enviado el formulario',
				footer: `<p><strong>Inténtalo nuevamente</strong></p>`,
			})
		}
	})
</script>
