---
import Layout from '../layout/Layout.astro'
import Hero from '../components/Home/Hero.astro'
import Services from '../components/Home/Services.astro'
import Experiences from '../components/Home/Experiences.astro'
---

<Layout pageTitle="Asesoría financiera">
	<Hero />
	<main>
		<Services />
		<Experiences />
	</main>
</Layout>
