---
import Layout from '../layout/Layout.astro'
import Hero from '../components/Home/Hero.astro'
import Services from '../components/Home/Services.astro'
import Experiences from '../components/Home/Experiences.astro'
---

<Layout
	pageTitle="Asesoría financiera"
	description="Black Wing optimiza tus Finanzas con Profesionales. Nuestros asesores financieros están aquí para ayudarlo. Ingresa y comunícate con nuestro equipo"
>
	<Hero />
	<main>
		<Services />
		<Experiences />
	</main>
</Layout>
