<header class="h-screen">
	<div
		class="bg-[url('/images/hero_img.jpg')] bg-cover bg-no-repeat bg-right h-[calc(100%-80px)]"
	>
		<div
			class="min-h-[calc(100vh-80px)] text-white bg-black bg-opacity-30 flex flex-col items-center justify-center gap-10 text-center p-4"
		>
			<h2 class="text-4xl">¡Bienvenidos a Black Wing!</h2>
			<p class="text-xl">
				Somos una empresa de asesoría financiera comprometida con nuestros
				clientes.
			</p>
		</div>
	</div>
</header>
