<section class="p-5 flex flex-row flex-wrap items-center">
	<article
		class="py-5 px-0 w-[40%] flex-grow-0 flex-shrink-0 basis-full md:basis-1/2"
	>
		<h2 class="py-5 text-2xl text-center">Servicios destacados</h2>
		<p>
			Bienvenido a nuestra agencia de asesoría financiera integral con enfoque
			en criptomonedas. Nuestro objetivo es brindar soluciones personalizadas a
			nuestros clientes en un mercado financiero en constante cambio. Con
			nuestra amplia experiencia en el sector financiero y criptomonedas,
			estamos equipados para brindarle las mejores estrategias y soluciones para
			maximizar su inversión. Nos enorgullece ser un equipo comprometido y
			confiable para ayudarlo a lograr sus objetivos financieros. En nuestro
			sitio web, encontrará información detallada sobre nuestros servicios,
			nuestra experiencia y cómo podemos ayudarlo a alcanzar sus objetivos
			financieros.
		</p>
	</article>
	<article
		class="px-5 w-[40%] flex-grow-0 flex-shrink-0 basis-full md:basis-1/2"
	>
		<img
			class="block w-100% mx-auto"
			src="/blackwing-astro/images/ejemplo.png"
			alt="Imagen de la sección 1"
		/>
	</article>
</section>

<section class="p-5 flex flex-wrap items-center flex-row-reverse">
	<article
		class="p-y5 px-0 w-[40%] flex-grow-0 flex-shrink-0 basis-full md:basis-1/2"
	>
		<h2 class="py-5 text-2xl text-center">Ultimas Noticias</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia
			recusandae fugiat corrupti exercitationem officia amet beatae quisquam,
			quia facere officiis, dolores consectetur quibusdam modi corporis
			similique sint? Nam, sapiente. Lorem ipsum dolor sit amet consectetur
			adipisicing elit. Perspiciatis ea quis nulla consequatur! Quis temporibus
			odit minus animi labore nulla placeat, similique velit consequuntur
			laboriosam magnam quam voluptatem laborum dolorem.
		</p>
	</article>
	<article
		class="px-5 w-[40%] flex-grow-0 flex-shrink-0 basis-full md:basis-1/2"
	>
		<img
			class="block w-100% mx-auto"
			src="/blackwing-astro/images/ejemplo.png"
			alt="Imagen de la sección 2"
		/>
	</article>
</section>
