<section class="featured">
	<article class="featured__article">
		<h2>Servicios destacados</h2>
		<p>
			Bienvenido a nuestra agencia de asesoría financiera integral con enfoque
			en criptomonedas. Nuestro objetivo es brindar soluciones personalizadas a
			nuestros clientes en un mercado financiero en constante cambio. Con
			nuestra amplia experiencia en el sector financiero y criptomonedas,
			estamos equipados para brindarle las mejores estrategias y soluciones para
			maximizar su inversión. Nos enorgullece ser un equipo comprometido y
			confiable para ayudarlo a lograr sus objetivos financieros. En nuestro
			sitio web, encontrará información detallada sobre nuestros servicios,
			nuestra experiencia y cómo podemos ayudarlo a alcanzar sus objetivos
			financieros.
		</p>
	</article>
	<article class="featured__article">
		<img
			src="/blackwing-astro/images/ejemplo.png"
			alt="Imagen de la sección 1"
		/>
	</article>
</section>

<section class="featured featured--reverse">
	<article class="featured__article">
		<h2>Ultimas Noticias</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia
			recusandae fugiat corrupti exercitationem officia amet beatae quisquam,
			quia facere officiis, dolores consectetur quibusdam modi corporis
			similique sint? Nam, sapiente.
		</p>
	</article>
	<article class="featured__article">
		<img
			src="/blackwing-astro/images/ejemplo.png"
			alt="Imagen de la sección 2"
		/>
	</article>
</section>

<style>
	.featured {
		padding: 1.25rem;
		display: flex;
		flex-flow: row wrap;
	}
	.featured__article {
		padding: 1.25rem 0;
		width: 40%;
		flex: 0 0 100%;
	}
	.featured__article h2 {
		padding: 1.25rem 0;
		font-size: 1.5rem;
		text-align: center;
	}
	.featured__article img {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	@media (min-width: 768px) {
		.featured {
			display: flex;
			align-items: center;
		}
		.featured__article {
			flex: 0 0 50%;
		}
		.featured--reverse {
			flex-direction: row-reverse;
		}
	}
</style>
