---
import Menu from '../components/Menu/Menu.astro'
import Footer from '../components/Footer/Footer.astro'

interface Props {
	pageTitle?: string
	description?: string
}

const { pageTitle = 'Asesoria financiera', description = '' } = Astro.props
---

<!DOCTYPE html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			href="/blackwing-astro/favicon-32x32.png"
			type="image/x-icon"
		/>
		<meta name="description" content={description} />
		<title>Balck Wing - {pageTitle}</title>
	</head>
	<body
		class="bg-slate-100 text-slate-800 dark:bg-slate-950 dark:text-slate-100 h-screen"
	>
		<Menu />
		<slot />
		<Footer />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		max-width: 1440px;
		margin: 0 auto;
		font-family: Arial, sans-serif;
	}
</style>
